In [1]:
path='drive/MyDrive/mch/'

In [3]:
!tar zxvf drive/MyDrive/mch/moscow_low_data.tar.gz

2021-03-01_low.csv
2021-04-01_low.csv
2021-05-01_low.csv

In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('2021-05-01_low.csv')

In [3]:
data1.ts=pd.to_datetime(data1.ts)

In [4]:
data1=data1.drop(['user_id','ap_mac'], axis=1)

In [5]:
data1.head()

                         ts  ...                                      gps
0 2021-05-26 09:24:05+00:00  ...  (55.72114562988281, 37.606163024902344)
1 2021-05-26 09:24:05+00:00  ...  (55.73716735839844, 37.623783111572266)
2 2021-05-26 09:24:05+00:00  ...  (55.72055435180664, 37.566864013671875)
3 2021-05-26 09:24:05+00:00  ...    (55.7214241027832, 37.56748580932617)
4 2021-05-26 09:24:05+00:00  ...   (55.75021743774414, 37.64606475830078)

[5 rows x 3 columns]

In [6]:
data1['date']=data1.ts.dt.date
data1['hour']=data1.ts.dt.hour
data1=data1.drop(['ts'], axis=1)

In [7]:
data2=data1.groupby(['hour','date', 'gps']).count()

In [8]:
data2=data2.reset_index()

In [9]:
data2['people']=data2['device_id']
data2=data2.drop(['device_id'], axis=1)

In [10]:
data2.head()

   hour        date                                      gps  people
0     0  2021-05-01  (55.655155181884766, 37.75764846801758)      12
1     0  2021-05-01   (55.65694046020508, 37.75919723510742)       5
2     0  2021-05-01   (55.67280578613281, 37.49541473388672)       4
3     0  2021-05-01   (55.70621871948242, 37.65497970581055)       3
4     0  2021-05-01  (55.70634841918945, 37.620208740234375)      24

In [12]:
data2.to_csv('05_low.csv')